html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.top {
  box-shadow: 0px 3px 5px 3px #ccc;
  height: auto;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.nav-left {
  padding: 0;
  color: white;
  background-color: #223;
  align-content: center;
}
.nav-middle {
  padding: 0.69vw;
  background-color: #fff;
}
.nav-funds {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 800;
  border: solid 0.14vw #5d8;
  background-color: #5d8;
  border-radius: 0;
}
.nav-balance {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #fff;
}
.nav-profile {
  margin: 20;
  padding: 0;
}

.left-container {
  box-shadow: 6px 0px 6px -2px #ccc;
  border-top: solid 4px #334;
  color: #88a;
  background-color: #223;
}
.dropGames {
  background-color: #66c;
}
.right-container {
  margin-left: -20px;
}

.card-body {
  box-shadow: 0px 6px 8px 0px #ccc;
  width: 200px;
  background-color: #223;
  color: #aac;
}

#infinity {
  font-style: italic;
  font-size: 20px;
}

.profile {
  object-fit: fill;
  width: auto;
  height: auto;
}

.card-adjust {
  width: 100%;
}

.card-margin {
  margin-left: 30px;
  padding-top: 8vh;
}

.wrapper {
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
}

#icons {
  width: 1rem;
  height: 1.5rem;
}
